/* General Footer Styles */
.footer {
    background-color: #E6F7F7;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}




/* Logo */
.footer-logo {
    margin-top: 100px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer-logo img {
    width: 100px;
    height: 60px;
}




/* links */
.footer-links {
    display: flex;
    gap: 50px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

.footer-column ul li a:hover {
    text-decoration: underline;
    color: #007BFF;
}








/* Track Shipment */
.footer-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    margin-right: 100px;
}

.track-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: lighter;
    color: #000;
    border-bottom: 2px solid #000;
}






/* Truck and Bike Pic */
.footer-illustration {
    margin-top: 50px;
    margin-left: -50px;
    /* Adjust this value as needed */
}

.footer-illustration img {
    cursor: default;
    height: 100px;
    width: 420px;
}
